.idea
build
cmake-*
.projectroot
.ipynb_checkpoints
__pycache__
data

data/**/*.root

basement
analysis/eloss/basement.cfg

/include/
fonts*

*.pdf
*.svg
*.dat
*.png
!**/images/*.png

sim/res/macros/tmp